html{
  background-color: #cccccc;
}

h1{
  color: #7daaf2;
  background-color: black;
}

footer{
  text-align: center;
  color: #7daaf2;
  background-color: black;
}

img{
  height: 500px;
  width: 500px;
  
}
